@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div>
    <h3><strong>Welcome to the Joel Hilton Film Collection!</strong></h3><br/>
    <img src="~/img/JoelHiltonHeadshot.jpg" /><br/><br/>
</div>

<div>
    <h4>If you can't tell by just looking at me, I am a HUGE fan of movies.</h4>
    <h4>Check out my complete movie collection <a href="https://docs.google.com/spreadsheets/d/1YXv5DQwyENjIlmzUx1ySZjprGUtbmxrxStSwELMSqf8/edit#gid=1400278809">here</a>.</h4>
    <h4>Or, add a movie to my movie collection <a asp-controller="Home" asp-action="AddMovie">here</a>.</h4>
    <h4>Or, check out my daily podcasts <a href="https://baconsale.com/">here</a>.</h4>
    <h4>You can also navigate to each of these pages using the navbar at the top of this page.</h4>
</div>
@*In addition to the navbar at top, these links can navigate to each page.*@
