@{
    ViewData["Title"] = "My Podcasts";
}


<div>
    <h3>But wait, there's more! Check out our podcast <a href="https://baconsale.com/">here</a>.</h3>
</div>
@*Here is a link that will take them to the podcast website*@